<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://dubbo.apache.org/schema/dubbo
        http://dubbo.apache.org/schema/dubbo/dubbo.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--dubbbo的应用名称-->
    <dubbo:application name="dubbo-consumer"></dubbo:application>
    <!--dubbo的注册中心-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>

    <!--订阅服务对象,id 的名称要和Controller类汇总的UserService接口名称要一致-->
    <!--<dubbo:reference id="userService" interface="com.com.itheima.service.UserService"></dubbo:reference>-->

    <!--使用注解 ,如果有多个类需要订阅,使用注解会方便-->
    <dubbo:annotation package="com.com.itheima.controller"/>


    <!--启动时不检查,即服务提供者没有启动,消费者启动也不会报错 一般用于开发调试-->
    <dubbo:consumer check="false"></dubbo:consumer>

    <!--超时时间为10秒钟-->
    <dubbo:consumer timeout="10000"/>



    

</beans>